<h1><%= link_to image_tag("back.png", :border => 0, :width => 16, :height => 16), employees_path, :style => "margin-left: 10px" %> 
	<%= @employee %> 
	<%= link_to image_tag("notebook.png", :border => 0, :width => 16, :height => 16), edit_employee_path(@employee) %>
</h1>
<div class="row">
	<div class="col-md-12">
		<form class="form-horizontal" role="form">
			<div class="form-group">
		        <label class="control-label col-lg-2">Imię</label>
		        <div class="col-lg-10">
		        	<p class="form-control-static"><%= @employee.first_name %></p>
		        </div>
		    </div>
		    <div class="form-group">
		        <label class="control-label col-lg-2">Nazwisko</label>
		        <div class="col-lg-10">
		        	<p class="form-control-static"><%= @employee.last_name %></p>
		        </div>
		    </div>
		    <div class="form-group">
		        <label class="control-label col-lg-2">Email</label>
		        <div class="col-lg-10">
		        	<p class="form-control-static"><%= @employee.email %></p>			
		        </div>
		    </div>
		    <div class="form-group">
		        <label class="control-label col-lg-2">Ilość wolnych dni</label>
		        <div class="col-lg-10">
		        	<p class="form-control-static"><%= @employee.holiday_off_limit %></p>
		        </div>
		    </div>
		    <div class="form-group">
		        <label class="control-label col-lg-2">Role</label>
		        <div class="col-lg-10">
		        	<% @employee.roles.each do |role| %> 
		        		<p class="form-control-static"><%= role.role_name %></p>
		        	<% end %>
		        </div>
		    </div>
		</form>
	</div>	
</div>
