<h1>
<% if access_to(session[:user_id], :admin) %>
  <%= link_to image_tag("back.png", :border => 0, :width => 16, :height => 16), employees_path, :style => "margin-left: 10px" %>
<% end %>
   Dnie wolne <%= @employee %></h1>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Od kiedy</th>
            <th>Do kiedy</th>
            <th>Ilość dni</th>
            <th>Powód</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @time_offs.each do |time_off| %>
            <tr>
              <th><%= time_off_state_ico(time_off) %></th>
              <td><%= time_off.date_from %></td>
              <td><%= time_off.date_to %></td>
              <td><%= time_off.get_day_off %></td>
              <td><%= time_off.reason %></td>
              <td><%= link_to image_tag("magnifier.png", :border => 0, :width => 12, :height => 12), [@employee, time_off] %></td>
              <td><%= link_to image_tag("notebook.png", :border => 0, :width => 12, :height => 12), edit_employee_time_off_path(@employee, time_off) %></td>
              <td><%= link_to image_tag("cross.png", :border => 0, :width => 12, :height => 12), [@employee, time_off], method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <td><%= time_off_state_change_link(time_off) %></td>
            </tr>
          <% end %>  
        </tbody>
      </table>
    </div>
  </div>    
<br>

<%= link_to image_tag("plus.png"), new_employee_time_off_path %>