<h1>Listing time_offs</h1>

<table>
  <thead>
    <tr>
      <th>Date from</th>
      <th>Date to</th>
      <th>Days</th>
      <th>Reason</th>
      <th>Employee</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @time_offs.each do |time_off| %>
      <tr>
        <td><%= time_off.date_from %></td>
        <td><%= time_off.date_to %></td>
        <td><%= time_off.get_day_off %></td>
        <td><%= time_off.reason %></td>
        <td><%= time_off.employee.first_name %> <%= time_off.employee.last_name %></td>
        <td><%= time_off.do_we_have_limit? %></td>
        <td><%= link_to 'Show', [@employee, time_off] %></td>
        <td><%= link_to 'Edit', edit_employee_time_off_path(@employee, time_off) %></td>
        <td><%= link_to 'Destroy', [@employee, time_off], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time off', new_employee_time_off_path %>
<%= link_to 'Back to Employees list', employees_path %>
