<h1><%= link_to image_tag("back.png", :border => 0, :width => 16, :height => 16), employee_time_offs_path, :style => "margin-left: 10px" %> 
	Dni wolne dla <%= @employee %> 
	<%= link_to image_tag("notebook.png", :border => 0, :width => 16, :height => 16), edit_employee_time_off_path(@employee, @time_off) %>
</h1>
<div class="row">
	<div class="col-md-12">
		<form class="form-horizontal" role="form">
			<div class="form-group">
			  <label class="control-label col-lg-2">Od kiedy:</label>
			  <div class="col-lg-10">
			  	<p class="form-control-static"><%= @time_off.date_from %></p>
			  </div>	
			</div>
			<div class="form-group">
			  <label class="control-label col-lg-2">Do kiedy:</label>
			  <div class="col-lg-10">
			  	<p class="form-control-static"><%= @time_off.date_to %></p>
			  </div>	
			</div>
			<div class="form-group">
			  <label class="control-label col-lg-2">Powód:</label>
			  <div class="col-lg-10">
			  	<p class="form-control-static"><%= @time_off.reason %></p>
			  </div>	
			</div>
			<div class="form-group">
			  <label class="control-label col-lg-2">Stan:</label>
			  <div class="col-lg-10">
			  	<p class="form-control-static"><%= state_name(@time_off.state) %></p>
			  </div>	
			</div>
		</form>	
	</div>
</div>		